*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
    height: 100vh;
  
}


nav ul{
    display: flex;
    justify-content:center;
    gap: 3rem;
    padding: 1rem;
    

}
ul li{
    list-style: none;
}
.img{
    width: 45%;
    height: 50%;
    background-image: url("https://picsum.photos/id/684/600/400");
    background-position: center;
    background-size: cover;
    margin: auto;
}
.button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 50px;
    position: absolute;
    top: 50%;
    /* background-color: blue; */
}
.box:hover{
    /* transform: scale(-2); */
    font-size: 30px;
    margin-left: 10px;
    transition: all 1s linear;
}
p{
    text-align: justify;
}

@media screen and (max-width: 1200px){
    body{
        background-color: rgb(50, 48, 167);
    }
    .img{
        background-image: url("https://picsum.photos/id/45/600/400");
    }
    
}
@media screen and (max-width:992px){
    body{
        background-color: rgb(141, 16, 135);
    }
    nav ul{
        display: flex;
        justify-content:center;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        /* margin-top: 20px; */
    }
    .img{
        background-image: url("https://picsum.photos/id/985/600/400");
       
       
    }
    
}

@media screen and (max-width:500px){
    .button{
        width: 100%;
        display: flex;
        align-items: end;
        z-index: 2;
    }
}