*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: orangered;
}

nav ul{
    display: flex;
    justify-content:center;
    gap: 3rem;
    margin-top: 20px;

}
ul li{
    list-style: none;
    font-weight: 900;
}
.img{
 
    margin: 2rem auto;
    background-image: url("https://picsum.photos/id/684/600/400");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 400px;
}


/* genişlk 768px den küçük ol. */
@media screen and (max-width:1200px) {
    body{
        background-color: rgb(50, 48, 167);
    }
   .img{
    background-image: url("https://picsum.photos/id/865/600/400");
   }

}
@media screen and (max-width:768px) {
    body{
        background-color: rgb(141, 16, 135);
    }
   .img{
    background-image: url("https://picsum.photos/id/67/600/400");
   }

}
@media screen and (max-width:576px) {
    body{
        background-color: rgb(9, 160, 11);
    }
   .img{
    background-image: url("https://picsum.photos/id/89/600/400");
    margin-bottom: 10px;
   }
   nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    
   }

}
